.sign {
  text-align: center;
  font-size: 14px;
  min-width: 900px;
  height: 100vh;
  background-color: #f1f1f1;
  position: relative;
}

.sign .sign-container2 {
  width: 400px;
  height: 100%;
  margin: 0 auto;
}

.sign .main{
  float: right;
  width: 500px;
  margin: 0 auto;
  padding: 50px 50px 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  vertical-align: middle;
  /* display: inline-block; */
}
